<a id='1'></a><center> <h3 style="background-color:orange; color:white" ><br>Python Data Structures<br></h3>

# `Types of Data Structures:`
* `List` | `Tuple`
* `Set` | `Dictionary`

|Data Structures type|Mutable|Comments|Indexing|Ordered|Duplicacy|
|----|----|----|----|----|----|
tuple ()|immutable|immutable version of list| possible|yes |allowed |
list []|mutable|-|possible |yes | allowed |
set {}|mutable| -|not |no |not |
dict {key:value}|mutable|-|possible |no |not  |

üí´ `immutable` => `can't be changed` <br>
üí´ `mutable` => `can be changed`

## Lists

### Create an empty list with the name ‚Äòa‚Äô, print the value of a and type(a).

In [114]:
# create empty list, name it 'a'
my_list = []

In [115]:
# print the value of a
a = []   # empty list
print(a)

[]

In [116]:
# print the type of a
a = []
print(type(a))

<class 'list'>

### Create a list , languages = ['R','Python', 'SAS', 'Scala', 42],

In [117]:
languages = ['R', 'Python', 'SAS', 'Scala', 42]
print(languages)

['R', 'Python', 'SAS', 'Scala', 42]

Print the number of elements in the list

In [118]:
languages = ['R', 'Python', 'SAS', 'Scala', 42]
print(len(languages))

5

Using for loop iterate and print all the elements in the list

In [119]:
languages = ['R', 'Python', 'SAS', 'Scala', 42]

for item in languages:
    print(item)

R
Python
SAS
Scala
42

Select the second item, 'Python' and store it in a new variable named 'temp'

In [120]:
languages = ['R', 'Python', 'SAS', 'Scala', 42]
temp = languages[1]
print(temp)

Python

Print the value of temp and type(temp)

In [121]:
languages = ['R', 'Python', 'SAS', 'Scala', 42]
temp = languages[1]

print(temp)        # prints the value
print(type(temp))  # prints the data type

Python
<class 'str'>

Append the element 'Java' in the list

In [122]:
languages = ['R', 'Python', 'SAS', 'Scala', 42]
languages.append('Java')
print(languages)

['R', 'Python', 'SAS', 'Scala', 42, 'Java']

Remove the element 42 from the list and print the list

In [123]:
languages = ['R', 'Python', 'SAS', 'Scala', 42, 'Java']
languages.remove(42)
print(languages)

['R', 'Python', 'SAS', 'Scala', 'Java']

### Create a list, colors = [‚ÄòRed‚Äô, ‚ÄòBlue‚Äô, ‚ÄòWhite‚Äô]

In [124]:
colors = ['Red', 'Blue', 'White']
print(colors)

['Red', 'Blue', 'White']

Append the element 'Black' to colors

In [125]:
colors.append('Black')
print(colors)

['Red', 'Blue', 'White', 'Black']

Append the color 'Orange' to second position (index=1) and print the list

In [127]:
colors.insert(1, 'Orange')   # insert at index 1

Print the list

In [128]:
print(colors)

['Red', 'Orange', 'Orange', 'Blue', 'White', 'Black']

Create another list, colors2 = [‚ÄòGrey‚Äô, ‚ÄòSky Blue‚Äô]

In [129]:
colors2 = ['Grey','Sky Blue']
print(colors2)

['Grey', 'Sky Blue']

Add the elements of colors2 to colors using extend function in the list

In [130]:
colors.extend(colors2)
print(colors)

['Red', 'Orange', 'Orange', 'Blue', 'White', 'Black', 'Grey', 'Sky Blue']

Print len of colors and its elements

In [131]:
print(len(colors))   # number of elements
print(colors)        # the elements themselves

8
['Red', 'Orange', 'Orange', 'Blue', 'White', 'Black', 'Grey', 'Sky Blue']

Sort the list and print it.

In [132]:
# Sort the list in-place
colors.sort()

# Print the modified list
print(colors)

['Black', 'Blue', 'Grey', 'Orange', 'Orange', 'Red', 'Sky Blue', 'White']

### Create a string, sent = ‚ÄòCoronavirus Caused Lockdowns Around The World.‚Äù

In [133]:
sent = 'Coronavirus Caused Lockdowns Around The World.'

Use split function to convert the string into a list of words and save it in variable words and print the same

In [134]:
# Split the sentence into words
sent = sent.split()
print(sent)

['Coronavirus', 'Caused', 'Lockdowns', 'Around', 'The', 'World.']

Convert each word in the list to lower case and store it in variable words_lower. 
Print words_lower

In [135]:
word_lower = [word.lower() for word in sent]
print(word_lower)

['coronavirus', 'caused', 'lockdowns', 'around', 'the', 'world.']

Check whether ‚Äòcountry‚Äô is in the list

In [136]:
word_to_find = 'country'

if word_to_find in word_lower:
    print(f"The word '{word_to_find}' is in the list.")
else:
    print(f"The word '{word_to_find}' is not in the list.")

The word 'country' is not in the list.

Remove the element ‚Äòthe‚Äô from the list and print the list.

In [137]:
word_lower.remove('the')
print(word_lower)

['coronavirus', 'caused', 'lockdowns', 'around', 'world.']

Select the first 4 words from the list words_lower using slicing and store them in a new variable x4

In [138]:
x4 = word_lower[:4]

In [139]:
# print x4
print(x4)

['coronavirus', 'caused', 'lockdowns', 'around']

Convert the list of elements to single string using join function and print it

In [140]:
# Assuming x4 contains the first 4 words
x4 = ['coronavirus', 'caused', 'lockdowns', 'around']

# Convert list to single string
single_string = ' '.join(x4)

print(single_string)

coronavirus caused lockdowns around

## Sets

### Create stud_grades = ['A','A','B','C','C','F']

In [141]:
stud_grades = ['A', 'A', 'B', 'C', 'C', 'F']

print(stud_grades)

['A', 'A', 'B', 'C', 'C', 'F']

Print the len of stud_grades

In [142]:
# Print the length of the list
print(len(stud_grades))

6

Create a new variable, stud_grades_set = set(stud_grades)

In [143]:
# Convert list to set
stud_grades_set = set(stud_grades)

Print stud_grades_set.

In [144]:
print(stud_grades_set)

{'A', 'C', 'F', 'B'}

print the type of stud_grades and stud_grades_set and print their corresponding elements. Try to understand the difference between them.

In [145]:
# Print types
print("Type of stud_grades:", type(stud_grades))
print("Type of stud_grades_set:", type(stud_grades_set))

# Print elements
print("Elements of stud_grades:", stud_grades)
print("Elements of stud_grades_set:", stud_grades_set)

Type of stud_grades: <class 'list'>
Type of stud_grades_set: <class 'set'>
Elements of stud_grades: ['A', 'A', 'B', 'C', 'C', 'F']
Elements of stud_grades_set: {'A', 'C', 'F', 'B'}

Add a new element ‚ÄòG‚Äô to stud_grades_set

In [146]:
stud_grades_set.add('G')
print(stud_grades_set)

{'G', 'B', 'C', 'A', 'F'}

Add element 'F' to stud_grades_set. and print it.

In [147]:
stud_grades_set.add('F')

print(stud_grades_set)

{'G', 'B', 'C', 'A', 'F'}

!!Did you notice? set doesn't add an element if it's already present in it, unlike lists.

Remove ‚ÄòF‚Äô from stud_grades_set

In [148]:
stud_grades_set.remove('F')

Print the elements and the length of stud_grades_set

In [149]:
# Print elements
print("Elements of stud_grades_set:", stud_grades_set)

# Print length
print("Length of stud_grades_set:", len(stud_grades_set))

Elements of stud_grades_set: {'G', 'B', 'C', 'A'}
Length of stud_grades_set: 4

### Create colors = [‚Äòred‚Äô,‚Äôblue‚Äô,‚Äôorange‚Äô], and fruits = [‚Äòorange‚Äô,‚Äôgrapes‚Äô,‚Äôapples‚Äô]

In [150]:
# Create the lists
colors = ['red', 'blue', 'orange']
fruits = ['orange', 'grapes', 'apples']

Print color and fruits

In [151]:
print("Colors:", colors)
print("Fruits:", fruits)

Colors: ['red', 'blue', 'orange']
Fruits: ['orange', 'grapes', 'apples']

Create colors_set, and fruits_set. (using set() ) and print them

In [152]:
# Convert lists to sets
colors_set = set(colors)
fruits_set = set(fruits)

print("Colors set:", colors_set)
print("Fruits set:", fruits_set)

Colors set: {'red', 'orange', 'blue'}
Fruits set: {'apples', 'grapes', 'orange'}

Find the union of both the sets.

In [153]:
# Union of both sets
union_set = colors_set.union(fruits_set)
# Or using: union_set = colors_set | fruits_set

print("Union of colors_set and fruits_set:", union_set)

Union of colors_set and fruits_set: {'red', 'blue', 'grapes', 'apples', 'orange'}

Find the intersection of both the sets

In [154]:
# Intersection of both sets
intersection_set = colors_set.intersection(fruits_set)
# Or using: intersection_set = colors_set & fruits_set

print("Intersection of colors_set and fruits_set:", intersection_set)

Intersection of colors_set and fruits_set: {'orange'}

Find the elements which are Fruits but not colors (using set.difference() )

In [155]:
# Elements in fruits_set but not in colors_set
fruits_not_colors = fruits_set.difference(colors_set)

print("Fruits but not colors:", fruits_not_colors)

Fruits but not colors: {'apples', 'grapes'}

## TUPLES

### Create temp = [17, ‚ÄôVirat‚Äô, 50.0]

In [156]:
# Create a tuple
temp = (17, 'Virat', 50.0)

print(temp)

(17, 'Virat', 50.0)

Iterate through temp and print all the items in temp

In [157]:
for item in temp:
    print(item)

17
Virat
50.0

replace first element with 11 in temp

In [158]:
# Replace first element with 11 (create a new tuple)
temp = (11,) + temp[1:]

print(temp)

(11, 'Virat', 50.0)

Set temp1 = tuple(temp)

In [159]:
temp1 = tuple(temp)

print(temp1)

(11, 'Virat', 50.0)

Iterate through temp1 and print all the items in temp1.

In [160]:
for item in temp1:
    print(item)

11
Virat
50.0

replace first element with 17 in temp1

In [161]:
# Create new tuple with first element replaced
temp1 = (17,) + temp1[1:]

print(temp1)

(17, 'Virat', 50.0)

<b>Oops!! You got an error. Hey Don't worry! Its because Once a tuple is created, you cannot change its values unlike list.</b>

### Create city = ("Bangalore", 28.9949521, 72)

In [162]:
city = ("Bangalore", 28.9949521, 72)

print(city)

('Bangalore', 28.9949521, 72)

Print first element of city

In [163]:
# Print first element
print(city[0])

Bangalore

Create city2 = (‚ÄòChennai‚Äô, 30.01, 74)

In [164]:
# Create a tuple
city2 = ('Chennai', 30.01, 74)

print(city2)

('Chennai', 30.01, 74)

Create cities which consist of city and city2

In [165]:
# Combine into one tuple
cities = (city, city2)

Print cities

In [166]:
print(cities)

(('Bangalore', 28.9949521, 72), ('Chennai', 30.01, 74))

Print type of first element in cities

In [167]:
# Print type of first element
print(type(cities[0]))

<class 'tuple'>

print the type of cities

In [168]:
# Print type of cities
print(type(cities))

<class 'tuple'>

Hey that implies you made a nested tuples!!

## DICTIONARY

### Create a dictionary d = {"actor":"amir","animal":"cat","earth":2,"list":[23,32,12]}

In [169]:
d = {
    "actor": "amir",
    "animal": "cat",
    "earth": 2,
    "list": [23, 32, 12]
}

print(d)

{'actor': 'amir', 'animal': 'cat', 'earth': 2, 'list': [23, 32, 12]}

Print the value of d[0]

In [100]:
print(d[0])   # ‚ùå This will cause an error

KeyError: 0

<b>Oops!! again an error. again a fun fact. Dictionary return the value for key if key is in the dictionary, else throws KeyError
and we don't have key 0 here :( </b>

Store the value of d[‚Äòactor‚Äô] to a new variable actor.

In [171]:
# Store value of 'actor' in new variable
actor = d['actor']

Print the type of actor

In [172]:
print(type(actor))

<class 'str'>

Store the value of d[‚Äòlist‚Äô] in new variable List.

In [173]:
# Store value of key 'list' into new variable
List = d['list']

print(List)

[23, 32, 12]

Print the type of List.

In [174]:
print(type(list))

<class 'type'>

Create d1 = { ‚Äòsinger‚Äô : ‚ÄòKr$na‚Äô , ‚Äòalbum‚Äô: ‚ÄòStill here‚Äô, ‚Äògenre‚Äô : ‚Äòhip-hop‚Äô}

In [175]:
# Create dictionary
d1 = {
    'singer': 'Kr$na',
    'album': 'Still here',
    'genre': 'hip-hop'
}

print(d1)

{'singer': 'Kr$na', 'album': 'Still here', 'genre': 'hip-hop'}

Merge d1 into d.

In [176]:
# Merge d1 into d
d.update(d1)

print d

In [177]:
print(d)

{'actor': 'amir', 'animal': 'cat', 'earth': 2, 'list': [23, 32, 12], 'singer': 'Kr$na', 'album': 'Still here', 'genre': 'hip-hop'}

Print all the keys in d

In [178]:
# Print all keys
print(d.keys())

dict_keys(['actor', 'animal', 'earth', 'list', 'singer', 'album', 'genre'])

Print all the values in d

In [179]:
# Print all values
print(d.values())

dict_values(['amir', 'cat', 2, [23, 32, 12], 'Kr$na', 'Still here', 'hip-hop'])

Iterate over d, and print each key, value pair as this - (actor ----> amir)

In [180]:
# Iterate and print key-value pairs
for key, value in d.items():
    print(f"({key} ----> {value})")

(actor ----> amir)
(animal ----> cat)
(earth ----> 2)
(list ----> [23, 32, 12])
(singer ----> Kr$na)
(album ----> Still here)
(genre ----> hip-hop)

count the number of occurences of charachters in string named "sent" using dictionary and print the same.

In [181]:
# Example string
sent = "hello world"

# Create an empty dictionary
char_count = {}

# Iterate through each character
for char in sent:
    if char in char_count:
        char_count[char] += 1
    else:
        char_count[char] = 1

In [182]:
# Print the character counts
print(char_count)

{'h': 1, 'e': 1, 'l': 3, 'o': 2, ' ': 1, 'w': 1, 'r': 1, 'd': 1}